wolfhead1 (1).json
{
  "name": "wolfhead1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tXzz2OjFEF22QMnrH8P0vfs41R3-txiK",
          "mode": "list",
          "cachedResultName": "rag agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tXzz2OjFEF22QMnrH8P0vfs41R3-txiK"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        -592
      ],
      "id": "1806c1f1-804d-4be6-9717-51feafde5be0",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4pkSV4exV992iheX",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1104,
        -592
      ],
      "id": "7fac8ebc-4ef4-4ab9-9cd1-bbd2d7e0b086",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4pkSV4exV992iheX",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-agent-app",
          "mode": "list",
          "cachedResultName": "rag-agent-app"
        },
        "embeddingBatchSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -880,
        -592
      ],
      "id": "b19e782b-cd56-4fce-a93e-f5a21bf56000",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "KLrHk8PNosa45OSk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1024,
        -368
      ],
      "id": "7cef7e58-57f2-48d6-8000-a65f0f5218b6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "6dNRuR9IbJjn7H2V",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -736,
        -368
      ],
      "id": "3af4f051-24ef-420e-9c81-f4ba73747da5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -784,
        -224
      ],
      "id": "0dc4e349-3475-49a5-9eaf-024b7e713be1",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a35506aa-d100-4f62-a33e-5995cb1946a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45f6d7c41ec07c31ca678ef82b542af57466519252683e3d5341ccb064a34f2c"
  },
  "id": "sWQBovzKVVvQJDT6",
  "tags": []
}